body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* font-style: normal; */
    font-variation-settings: "wght" 400, 800;
}

header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, center left 40px;
    background-size: auto, 80px auto;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav li a {
    text-decoration: none;
    color: #474747;
}


.text-primary {
    color: #FD6E0A;
}


.nav-title {
    font-weight: 700;
    font-size: 45px;
}

.nav-button {
    width: 120px;
    height: 50px;
    background-color: #FD6E0A;
    border: none;
    color: white;
    font-weight: 700;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 95px 0px 200px;
   
}
.banner-greetings{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 0px;
}
.banner-des{
    font-size: 18;
    font-weight: 400;
}
.banner-name{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 85px;
    font-weight: 700;
}
.banner-con{
    max-width: 500px;
}
.aboutus-con{
background-color: #FFF8F3;
}
.about-bold{
    font-weight: 700;
}
.about-info h1{
    font-size: 30px;
}
.about-info{
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
.aboutus-con{
    margin: 200px ;
    padding: 144px;
    text-align: center;
}
.about-tittle{
    font-size: 35px;
    font-weight: bold;
}
.about-des{
    color: #757575;
}
.whatido-title{
    font-size: 35px;
    font-weight: bold;
}
.whatido-des{
    color: #757575;
}
.whatido-con{
   
    
}
.card-title{
    font-size: 20px;
    font-weight: bold;
}
.card-des{
    color: #757575;
}
.whatidocard-con{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 140px 140px 140px ;
    /* padding: 100px; */
    gap: 24px;
}
.whatido-texts{
    text-align: center;
    margin: 200px 200px 20px 200px ;
    padding: 144px 144px 14px 144px;
}
.card{
    padding: 33px 33px;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.06);
    background: #FFF;
    border-radius: 10px;
}
.card-tittle{
    font-size: 20px;
}
.card-des{
    color: #757575;
}